@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #eceef7;
    padding: 4rem;
    max-height: 100vh;
}

@media screen and (max-width: 425px) {
    body {
        padding-left: 2rem;
        padding-right: 2rem;

        padding-top: 5rem;
    }
}
